.section-nosso-trabalho {
    width: 100%;
    min-height: 100vh;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}

.introducao {
    margin-bottom: 40px;
    text-align: center;
}

.introducao-titulo {
    font-size: 2.5rem;
    font-family: 'Share Tech', sans-serif;
    color: #f5d386;
    font-weight: 700;
}

.cards-container {
    width: 90%;
    display: grid;
    gap: 40px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #1a1a1a;
}

.card:hover {
    transform: translateY(-8px);
    filter: brightness(1.15);
}

.card-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card-conteudo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-titulo {
    font-size: 1.5rem;
    font-family: 'Comfortaa', sans-serif;
    color: #f5d386;
    font-weight: 600;
}

.card-descricao {
    font-size: 1rem;
    font-family: 'Comfortaa', sans-serif;
    color: #e0e0e0;
    line-height: 1.5;
}

.card-link {
    font-family: 'Comfortaa', sans-serif;
    color: #f5d386;
    padding: 5px 0px;
    font-size: 1.2rem;
    text-underline-offset: 10px;
}

.card-fantasma {
    display: none;
    justify-content: center;
    align-items: center;
    border: 2px solid #0f0e0e;
    padding: 20px;
    background-color: #1a1a1a;
    text-align: center;
    border-radius: 10px;
}

.card-agendar-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #ffffff;
    color: #1e1e1e;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    transition: all 0.3s ease;
}

.card-agendar-btn:hover {
    transform: scale(1.05) translateY(-2px);
    background-color: rgba(218, 218, 218, 0.822);
}

@media (min-width: 642px) and (max-width: 978px) {
    .card-fantasma {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .introducao-titulo {
        font-size: 1.9rem;
    }

    .cards-container {
        width: 92%;
        gap: 30px;
    }
}

@media (max-width: 600px) {
    .section-nosso-trabalho {
        padding: 40px 0;
    }

    .introducao-titulo {
        font-size: 1.7rem;
    }

    .cards-container {
        width: 95%;
        gap: 25px;
    }

    .card-descricao {
        font-size: 0.9rem;
    }
}
